#extstyle {
	color: #ffee00;
}

* {
	font-family: "Verdana", Sans-serif;
	font-size:  20px;
}

h1 {
	font-size:  3rem;
}

#subtitle {
	text-transform: uppercase;
}

.language {
	background-color: rgb(159,255,200);
}

.tools {
	border: #0044aa 2px solid;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;
}